In [13]:
"""
Functions vs Method
"""

def my_function(x):
    return x+1


age=23
print(my_function(age))

x =1
class my_class:
    def my_method(self):
       return x+1
cls=my_class()

print(cls.my_method())

24
2

In [ ]:
"""
Return Keywork
"""

def check_leap_year(year):
    if year % 4 == 0:
        return str(year) + " is a leap year."
    else:
        return str(year) + " is a not leap year."
    
result = check_leap_year(2021)
print(result)

In [2]:
"""
Returning Multiple Values
"""

def square_point(x, y, z):
    x_squared = x ** 2
    y_squared = y ** 2
    z_squared = z ** 2
    return x_squared, y_squared, z_squared

three_squared, four_squared, five_squared =square_point(3, 4, 5)
print(three_squared, four_squared, five_squared)

9 16 25

In [3]:
"""
Global Variables
"""

a= "Hello"

def prints_a():
    print(a)
    
prints_a()

Hello

In [9]:
"""
Local Variables
"""

b=3
def prints_a():
    b = "ohio"
    print(b)
    
prints_a()

print(b)

ohio
3

In [8]:
"""
Keyword Arguments and Default Values
"""

def findvolume(height, width, depth):
    print("Helght = " + str(height))
    print("Width = " + str(width))
    print("Depth = " + str(depth))
    return height * width * depth

print(findvolume(1, 3, 4))
print(findvolume(height=4, width=5, depth=6))

Helght = 1
Width = 3
Depth = 4
12
Helght = 4
Width = 5
Depth = 6
120