In [4]:
pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)

In [5]:
import pandas as pd
import numpy as np

In [6]:
"""
Pandas Object: Series
"""

ser = pd.Series([0.25, 0.5, 0.75, 1.0])
print(ser)

0    0.25
1    0.50
2    0.75
3    1.00
dtype: float64

In [7]:
arr = ser.values
print(arr)

ind = ser.index
print(ind.values)

[0.25 0.5  0.75 1.  ]
[0 1 2 3]

In [8]:
# Label-based Indexing

ser = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a','b','c','d'])
print(ser)
arr[0]

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

0.25

In [9]:
"""
Create a series from a dictionary
"""
population_dict = {'California': 38332521,
                  'Texas': 26558193,
                  'New York': 19651127,
                  'Florida': 19552860,
                  'Illinois':12882135}
population = pd.Series(population_dict)
print(population)
print()
print(population['California':'New York'])

California    38332521
Texas         26558193
New York      19651127
Florida       19552860
Illinois      12882135
dtype: int64

California    38332521
Texas         26558193
New York      19651127
dtype: int64

In [10]:
"""
Pandas object: DataFrame
"""

area_dict = {'California': 423967, 'Texas': 695662,
             'New York': 141297, 'Florida': 170312,
             'Illinois':149995}
print(area_dict,'\n')
area= pd.Series(area_dict)

print(area)

{'California': 423967, 'Texas': 695662, 'New York': 141297, 'Florida': 170312, 'Illinois': 149995}

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
dtype: int64

In [11]:
# Construct a DataFrame containing 'population' and 'area' Series

states = pd.DataFrame({'population': population, 'area': area})
print(states)

print(states.index,'\n')
print(states.columns)

            population    area
California    38332521  423967
Texas         26558193  695662
New York      19651127  141297
Florida       19552860  170312
Illinois      12882135  149995
Index(['California', 'Texas', 'New York', 'Florida', 'Illinois'], dtype='object')

Index(['population', 'area'], dtype='object')

In [12]:
# Construct a DataFrame from a 2D Numpy array

print(states['area'])
arr = np.random.rand(3,2)
print(arr, '\n')

df= pd.DataFrame(arr, columns=['foo', 'bar'], index=['a','b','c'])
print(df)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
[[0.67473417 0.54122764]
 [0.19976581 0.90680086]
 [0.17275165 0.87859078]]

        foo       bar
a  0.674734  0.541228
b  0.199766  0.906801
c  0.172752  0.878591

In [13]:
"""
Series object manipulation: dictionary-style
"""

ser = pd.Series([0.25, 0.5, 0.75, 1.0], index = ['a','b','c','d'])
print(ser,'\n')
print(ser['b'])
print(ser[0])
print('a' in ser)

a    0.25
b    0.50
c    0.75
d    1.00
dtype: float64

0.5
0.25
True

In [14]:
"""
Series object manipulation: array-style
"""

print(ser.keys())
ser['e']= 1.25
ser['a']= 0.124

print(ser)

Index(['a', 'b', 'c', 'd'], dtype='object')
a    0.124
b    0.500
c    0.750
d    1.000
e    1.250
dtype: float64

In [15]:
"""
DataFrame object manipulation
"""

print(states['area'],'\n')
print(states.area)

states['density'] = states['population'] / states['area']
print(states)

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64

California    423967
Texas         695662
New York      141297
Florida       170312
Illinois      149995
Name: area, dtype: int64
            population    area     density
California    38332521  423967   90.413926
Texas         26558193  695662   38.176863
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

In [16]:
print(states)
states.loc['California':'New York']

            population    area     density
California    38332521  423967   90.413926
Texas         26558193  695662   38.176863
New York      19651127  141297  139.076746
Florida       19552860  170312  114.806121
Illinois      12882135  149995   85.883763

            population    area     density
California    38332521  423967   90.413926
Texas         26558193  695662   38.176863
New York      19651127  141297  139.076746